@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
@import url(http://fonts.googleapis.com/css?family=Muli:400);


*{
font-family: "Karla";
}
.navbar-default {
background-color: #30678E;
}
.navbar-default .navbar-nav > li > a {
color: white;
}
.navbar-default .navbar-nav > li > a:hover {
color: #E6E65C
;
}
.navbar-default {
background-color: #30678E;

}
.navbar-default .navbar-nav > .active > a {
color: white;
}
.navbar-default .navbar-nav > .active > a:hover {
color: white;
background-color:  #323232;
}
.navbar-default .navbar-nav > .active > a {
background-color:  #323232;
}
.table-hover > tbody > tr:nth-child(1) > td, .table-hover > tbody > tr:nth-child(1) > th {
	background-color: rgb(51, 122, 183);
	border-color: rgb(46, 109, 164);
	color: white;
}
.table-hover > tbody > tr > th > a {
color: white;
}
.table-hover > tbody > tr:hover {
background-color: #F5F5F5
;
}

/*.shadow {
-webkit-box-shadow: 0 8px 6px -3px #F5F5F5
;
-moz-box-shadow: 0 8px 6px -3px #F5F5F5
;
box-shadow: 0 8px 6px -3px #F5F5F5
;
}*/
.container
{
margin-left: auto;
margin-right: auto;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: black;
}

.nav-pills a {
	background-color: rgb(51, 122, 183);
	border-color: rgb(46, 109, 164);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
background-color: #323232;
}

.nav-pills a{
color: white;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #30678E;
	color: white;

}

.filter-list {
    display: block;
    height: 493px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.filter {
    display: block;
    min-height: 25px;
    line-height: 22px;
    font-size: 14px;
    width: 216px;
    padding: 4px 10px;
    border: 1px solid #e6e6e6;
    border-top-width: 0;
    background-color: white;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}


* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.box {
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	background-color: #F5F5F5;
	border-color: #EBEBEB;

}

.std thead {
	text-transform: uppercase;
	background-color: #30678E;
	font-size: x-small;
	color: white;
	padding: 4px;
	letter-spacing: 1px;
}

.std {
	margin-top: 16px;
	font-family: Verdana, sans-serif;
	width: 55em;
}

.std2 {
	margin-top: 16px;
	font-family: Verdana, sans-serif;
	width: 95%;
}

td, th {
	text-align: center;
	display: table-cell;
	vertical-align: inherit;
}

thead {
	text-align: center;
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

table {
	padding-bottom: 5px;
}

.field {
	width: 50%;
	float: left;
	text-align: left;
}


.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

.center70 {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}

.line {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #eee;

}
legend  {
	border-color: black;
}

h3 {
	margin-top: 10px;
}

h1 {
	margin-top: 10px;
}

.clearspace {
	margin-bottom: 10px;
}

textarea.form-control {
	height: 200px;
}

.break {
	margin: 20px;
}