<h1> Admin Tools </h1>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary">CURRENT COURSES</button>
  </div>
  <div class="btn-group" role="group">
 	<%= link_to 'Manage Courses', courses_path, {:class => "btn btn-primary"} %>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary">MANAGE ADMINS</button>
  </div>
</div>


