<br/>
<h1> DeCal Program - Beta Release</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">DEVELOPER TOOLS</h3>
  </div>

  <div class="panel-body">

    <p>Promote and demote have been depreciated. Check if someone is a facilitator by calling "if not current_user.courses.blank? or other means."</p>

    <h3>Facilitator Status:</h3>
    
    <% if not user_signed_in? or current_user.ownedcourses.empty? %>
      <p>You own no courses, so your ARE NOT a faciltiator. <p>
    <%else%>
      <p>You own course(s), so you ARE a facilitator.</p>
    <%end%>
    
    <h3>Admin Status</h3>
    <% if not user_signed_in? or current_user.admin.eql? false %>
      <p>You ARE NOT an admin.</p>

    <%else%>
      <p>You ARE an admin.</p>
    <%end%>
    <div class="inner">
      <%= button_to 'makeadmin', makeadmin_path, {:class => "btn btn-primary"} %>
    </div>
    <br/>
    <div class="inner">
      <%= button_to 'removeadmin', removeadmin_path, {:class => "btn btn-primary"} %>
    </div>
    <br/>
    <%= button_to "Test Sign In", new_user_session_path%>
    
  </div>
</div>
