<h1>COURSES</h1>
<%= params %>
<form class="form-inline">
<div class="row">
  <div class="form-group col-md-4 box">
    <%= form_for(courses_path, method: :get, id: 'units_form') do %>
      <%= render 'shared/search_form' %>
    <% end %>
    <br/>
  </div>

  <div class="col-md-8">
    <%= render 'shared/course_table' %>
  </div>
</div>
</form>
