/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

*= require bootstrap.min

 *= require_tree .
 */

.box {
	border-style: solid;
	border-width: 1px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.std thead {
	text-transform: : uppercase;
	background-color: #30678E;
	font-size: x-small;
	color: white;
	padding: 4px;
	letter-spacing: 1px;
}

.std {
	margin-top: 16px;
	font-family: Verdana, sans-serif;
	width: 40em;
}

td, th {
	text-align: center;
	display: table-cell;
	vertical-align: inherit;
}

thead {
	text-align: center;
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

table {
	padding-bottom: 5px;
}

.field {
	width: 50%;
	float: left;
	text-align: left;
}

/*input {
	width: 30%;
}*/

/*    <table>
      <tbody>
        <tr>
          <td><%= label_tag :section_title, 'Section Title (e.g. "Section 1" or "Beginner"): ' %><%= text_field_tag :section_title %></td>
        </tr>
        <tr>
          <td><%= label_tag :ccn_lower, 'CCN (Lower Division): ' %><%= text_field_tag :ccn_lower %></td>
        </tr>
      </tbody>
    </table>*/